<link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
  
<div class="container">
   <div class="jumbotron">
    <h2 class="text-center">Create a new Quote</h2>
    <br>
  <form (ngSubmit)='addQuote()' #quoteForm='ngForm'>
        <div class="form-group">
  
            <label for="name">Author</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="newQuote.name" name="name" #name='ngModel' required>
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
              <p>Name is required</p>
            </div>
        </div>
        <div class="form-group">
                    <label for="name">Uploader</label>
                <input type="text" class="form-control" id="upload" [(ngModel)]="newQuote.name" name="name" #name='ngModel' required>
                <div [hidden]="name.valid || name.pristine" class="alert alert-success">
                  <p>Name is required</p>
                </div>
            </div>
        <div class="form-group">
  
            <label for="description">Quote</label>
            <textarea class="form-control" id="description" rows="4" [(ngModel)]="newQuote.description" name="description" #description="ngModel" required></textarea>
            <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
              <p>Description is required</p>
            </div>
        </div>
        <div class="form-group">
  
            <label for="complete">Completion</label><br>
            <input type='date' id="complete" [(ngModel)]="newQuote.completeDate" name="completeDate" #completeDate="ngModel" required>
            <div [hidden]="completeDate.valid || completeDate.pristine" class="alert alert-danger">
              <p>Date is required</p>
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-success">Add Quote</button>
    </form>
  </div>
